.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size {
  &-xsmall {
    width: 14px;
  }

  &-small {
    width: 18px;
  }

  &-medium {
    width: 20px;
  }

  &-large {
    width: 36px;
  }
}
