@use "../../style/color";

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  &-primary-dark {
    color: color.$primary-dark;
  }

  &-neutral-light {
    color: color.$neutral-light;
  }
}

.size {
  &-small {
    width: 18px;
  }

  &-medium {
    width: 24px;
  }

  &-large {
    width: 36px;
  }
}
