a {
  display: flex;
  color: var(--color-text);
  align-items: center;
  text-decoration: none;
  width: fit-content;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid var(--color-text);
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  span {
    padding-left: 0.15rem;
  }
}
