.search-result-list {
  padding: 0.5rem 0.5rem 0 0.5rem;
  overflow-y: scroll;
  transition: all 0.3s;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
