@use "../../../../style/border";
@use "../../../../style/color";

$animated-transition-height: -50px;

.search-result-list {
  padding: 1rem 0.5rem 0 0.5rem;
  overflow-y: scroll;
  opacity: 1;
  transition: all 0.3s ease-in;
  border-radius: 0  0 border.$radius border.$radius ;
  background-color: var(--color-background);
  transform: translateY(-10px);
  box-shadow: 0 2px 4px color.$shadow;


  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @starting-style {
    opacity: 0;
    transform: translateY($animated-transition-height);
  }
}

.leaving {
  opacity: 0;
  transform: translateY($animated-transition-height);
  transition: all 0.3s ease-in;
}
