.list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--color-background-overlay);
  border-radius: 10rem;
  width: fit-content;

  button {
    background-color: transparent;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10rem;
    padding: 0 0.5rem;
  }

  p {
    font-size: 0.85rem;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
}
