@use "../../../../style/border.scss";
@use "../../../../style/color.scss";
@use "sass:color" as scolor;

$thumbnail-size-small: 50px;
$thumbnail-size-large: 65px;

.occurrence-item {
  display: flex;
  align-items: center;
  border-radius: border.$radius;
  background-color: var(--color-background);
  color: var(--color-text);
  margin-bottom: 0.5rem;
  height: $thumbnail-size-small;
  cursor: pointer;
  width: 100%;
  padding: 0;
  border-width: 0;
  transition: all 0.25s ease;

  @media (min-width: 400px) {
    height: $thumbnail-size-large;
  }

  &:hover {
    background-color: var(--color-background-overlay);
  }

  &:active {
    background-color: var(--color-background-overlay);
    opacity: 0.75;
  }

  .details {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &-title {
      font-weight: bold;
      font-size: 0.9rem;
    }

    &-subtitle {
      font-size: 0.8rem;
      opacity: 0.5;
    }

    span {
      display: flex;
      padding: 0.15rem 0;
      line-height: 1rem;
    }
  }

  .thumbnail {
    width: $thumbnail-size-small;
    height: $thumbnail-size-small;

    @media (min-width: 400px) {
      width: $thumbnail-size-large;
      height: $thumbnail-size-large;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: border.$radius;
  }
}
