@use "../../../../style/border.scss";

$thumbnail-size: 70px;

.occurrence-item {
  display: flex;
  align-items: center;
  border-radius: border.$radius;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0.5rem;
  height: $thumbnail-size;
  cursor: pointer;
  width: 100%;
  padding: 0;
  border-width: 0;
  transition: all 0.25s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .details {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.5;
  }

  .thumbnail {
    width: $thumbnail-size;
    height: $thumbnail-size;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: border.$radius;
  }
}
