@use "../../../../style/border.scss";
@use "../../../../style/color.scss";
@use "sass:color" as scolor;

$thumbnail-size: 70px;

.occurrence-item {
  display: flex;
  align-items: center;
  border-radius: border.$radius;
  background-color: color.$neutral-light;
  margin-bottom: 0.5rem;
  height: $thumbnail-size;
  cursor: pointer;
  width: 100%;
  padding: 0;
  border-width: 0;
  transition: all 0.25s ease;

  &:hover {
    background-color: scolor.change(color.$neutral-base, $alpha: 40%);
  }

  &:active {
    background-color: color.$neutral-base;
  }

  .details {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &-title {
      font-weight: bold;
      font-size: 0.9rem;
    }

    &-subtitle {
      font-size: 0.85rem;
    }

    span {
      display: flex;
      padding: 0.15rem 0;
      line-height: 1rem;
    }
  }

  .thumbnail {
    width: $thumbnail-size;
    height: $thumbnail-size;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: border.$radius;
  }
}
