@use "../../../../style/border";

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: border.$radius;
  padding: 0.5rem 0.5rem;
  background-color: white;
  justify-content: space-between;
  cursor: text;

  input {
    border: none;
    outline: none;
    width: 100%;
  }

  button {
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: border.$radius;
    background-color: rgba(0, 0, 0, 0.08);
  }
}
