<content-container>
  <field-container label="Species" name="species">
    <autosuggest
      id="species"
      placeholder="Search for species"
      [disabled]="submissionState() === 'loading'"
      [entries]="speciesEntries()"
      (onQueryChange)="onAutoSuggestChange($event)"
    />
  </field-container>

  <field-container label="Url" name="url">
    <input
      id="url"
      placeholder="Enter url"
      type="text"
      [formField]="speciesResourceForm.url"
    />
  </field-container>

  <button (click)="onSubmit()">send</button>

  @switch (submissionState()) {
    @case ("success") {
      <p>success</p>
    }
    @case ("error") {
      <p>Please select a species and enter a URL</p>
    }
    @case ("loading") {
      <p>loading</p>
    }
  }
</content-container>
