@use "../../style/color";
@use "../../style/layout";
@use "../../style/breakpoint";

$link-size: 52px;

.navigation {
  position: fixed;
  bottom: layout.$safe-area-inset;
  right: layout.$safe-area-inset;
  max-height: 70px;
  background-color: var(--color-background-overlay);
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px color.$shadow;
  z-index: 10000;

  @media (min-width: breakpoint.$md) {
    top: layout.$safe-area-inset;
    right: layout.$safe-area-inset;
  }

  nav {
    padding: 0.75rem 0.6rem;
  }

  &-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 0.7rem;
      padding-top: 0.3rem;
      line-height: 0;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: $link-size;
      height: $link-size;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        position: relative;
        opacity: 0.6;

        &:link, &:visited, &:active, &:hover {
          text-decoration: none;
        }

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
}

.navigation-icon {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc($link-size / 2 );
}

.highlighter {
  transition: all 0.25s ease-in;
  width: $link-size;
  height:$link-size;
  border-radius: 35%;
  position: absolute;
  top: calc($link-size / 4  * -1);
  transform: scale(0);
  opacity: 0.5;
}

.active {
  & .highlighter {
    transform: scale(.7);
    background-color: color.$primary-base;
  }
}
