@use "../../style/color";

$link-size: 52px;

.navigation {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-height: 70px;

  background-color: var(--color-background-overlay);
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px color.$shadow;
  z-index: 10000;

  @media (min-width: 768px) {
    top: 1rem;
    right: 1rem;
  }

  nav {
    padding: 0.75rem 1rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 0.75rem;
      padding-top: 0.4rem;
      line-height: 0;
    }
  }


  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        position: relative;
        width: $link-size;
        height: $link-size;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.navigation-icon {
  position: relative;
  z-index: 10;
}

.highlighter {
  transition: all 0.2s ease-in;
  width: $link-size;
  height:$link-size;
  border-radius: 50%;
  position: absolute;
  left: calc($link-size / 3.75 );
  top: calc($link-size / 4  * -1);;
  transform: translateX(-50%) scale(0);
}

.active {
  & .highlighter {
    transform: translateX(-50%) scale(.7);
    background-color: color.$nature-light;
  }
}
