.navigation {
  position: fixed;
  top: 1rem;
  right: 1rem;

  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10000;

  nav {
    padding: 0.75rem 1rem;

    @media (min-width: 768px) {
      padding: 1rem 2rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 0.65rem;
      padding-top: 0.1rem;
      line-height: 0;
    }
  }


  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        position: relative;
        width: 50px;
        height: 50px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.highlighter {
  color: rgba(137, 255, 161, 0.5);
  transition: all 0.3s ease-in;
  background-color: rgba(137, 255, 161, 0);
  width: 50px;
  height:50px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%) scale(0);

}

.active {
  & .highlighter {
    transform: translate(-25%, -30%) scale(.7);
    background-color: rgba(137, 255, 161, 0.31);
  }
}
