.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  width: 100%;

  nav {
    padding: 1rem;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
