<header class="navigation">
  <nav>
    <ul>
      <li>
        <a routerLink="/map" [routerLinkActive]="['active']">
          <div class="navigation-item">
            <app-icon name="map" size="size-medium" />
            <p>Map</p>
            <div class="highlighter"></div>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/user" [routerLinkActive]="['active']">
          <div class="navigation-item">
            <app-icon name="user" size="size-medium" />
            <p>User</p>
            <div class="highlighter"></div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
