@use "../../../../style/border";

.occurrence-search {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: border.$radius;

  .results-container {
    padding: 0.5rem;
  }
}
