@use "../../../../style/border";
@use "../../../../style/color";

.occurrence-search {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: border.$radius;
  background-color: color.$neutral-light;

  .results-container {
    padding: 0.5rem;
  }
}
