@use "../../../../style/border";
@use "../../../../style/color";

.occurrence-search {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px color.$shadow;
  border-radius: border.$radius;
  background-color: var(--color-background);

  .results-container {
    padding: 0.5rem;
  }
}
