@use "../../../../style/border";
@use "../../../../style/color";

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: border.$radius;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-background-overlay);
  justify-content: space-between;
  cursor: text;

  input {
    background-color: var(--color-background-overlay);
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-text);
  }

  button {
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    background-color: color.$primary-base;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba(190, 255, 174, 0);
      opacity: 0.35;
    }

    &:active {
      transform: scale(1.1);
    }
  }
}
