<div (click)="searchInput.focus()">
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input
      #searchInput
      class="search-input"
      type="text"
      placeholder="E.g tawny owl, duck..."
      formControlName="query"
      (keydown)="onQueryChange()"
      (focus)="onQueryFocus()"
    />
    <button type="submit" [disabled]="!searchForm.valid || searchForm.pending">
      <app-icon name="search" size="size-medium" color="color-neutral-light" />
    </button>
  </form>
  @if (searchForm.hasError("requestError")) {
    {{ searchForm.getError("requestError") }}
  }
</div>
