<div (click)="searchInput.focus()">
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <button
      class="search-form-back-button"
      [disabled]="!isResultListVisible()"
      (click)="hideResultList($event)"
    >
      <app-icon name="arrow-left" size="size-medium" />
    </button>
    <input
      #searchInput
      class="search-input"
      [class.with-list]="isResultListVisible()"
      type="text"
      placeholder="E.g tawny owl, duck..."
      formControlName="query"
      (keyup)="onQueryChange()"
      (focus)="onQueryFocus()"
    />

    @if (query?.value) {
      <button
        class="search-form-submit-button"
        [disabled]="!searchForm.valid || searchForm.pending"
        (click)="clearInput()"
      >
        <app-icon name="cross" size="size-medium" color="color-neutral-light" />
      </button>
    } @else {
      <div class="search-form-search-icon">
        <app-icon name="search" size="size-medium" />
      </div>
    }
  </form>
  @if (searchForm.hasError("requestError")) {
    {{ searchForm.getError("requestError") }}
  }
</div>
