<content-container>
  <div>
    light
    <toggle-button
      [isChecked]="isThemeToggleChecked()"
      (onChange)="toggleTheme()"
    />
    dark
  </div>
  @if (isUserLoading()) {
    <p>loading</p>
  } @else if (!user()) {
    <a [href]="googleLoginUrl">Login with Google</a>
  } @else {
    <div>
      <p>{{ user()?.email }}</p>
      <p>{{ user()?.nickname }}</p>
      <p>{{ user()?.role }}</p>
      <p>{{ user()?.account_tier }}</p>

      @if (hasSpeciesResourcePermission()) {
        <div>
          <a href="/species-resources">submit resource</a>
        </div>
      }
    </div>

    <div class="settings-section">
      <button (click)="logoutUser()">logout</button>
    </div>
  }
</content-container>
