<div>
  light
  <toggle-button
    [isChecked]="theme.theme() == 'dark'"
    (onChange)="theme.toggleTheme()"
  />
  dark
  @if (user.isLoading()) {
    <p>loading</p>
  } @else if (!user.data()) {
    <p>No user logged in</p>
    <a href="http://localhost:8000/user/login/google">Login with Google</a>
  } @else {
    <p>{{ user.data()?.email }}</p>
    <p>{{ user.data()?.nickname }}</p>
    <p>{{ user.data()?.expertise_tier }}</p>
    <p>{{ user.data()?.account_tier }}</p>
    <button (click)="user.logout()">logout</button>
  }
</div>
