/* You can add global styles to this file, and also import other style files */
@import url("leaflet/dist/leaflet.css");

.marker-icon {
  border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
}
