@use "./app/style/color";

@import url("leaflet/dist/leaflet.css");

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

button {
  cursor: pointer;
  border: none;
}

.marker-icon {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
}

.leaflet-control-attribution, .leaflet-control-zoom {
  display: none;
}
