<div id="map"></div>
@if (!isAnyModalOpen()) {
  <div class="map-fab-group">
    <!--    <button class="map-fab-group__btn" (click)="openLogOccurrenceModal()">-->
    <!--      <app-icon name="plus" size="size-medium" color="color-neutral-light" />-->
    <!--    </button>-->
    <div class="map-fab-group__divider"></div>
    <button class="map-fab-group__btn" (click)="centerToUserLocation()">
      <app-icon
        name="map-arrow"
        size="size-medium"
        color="color-neutral-light"
      />
    </button>
  </div>
}
<occurrence-preview-modal
  [modalId]="modalId"
  [marker]="selectedMarker()"
  (handleClose)="selectedMarker.set(null)"
/>
<!--<log-occurrence-modal-->
<!--  [modalId]="logOccurrenceModalId"-->
<!--  (handleClose)="(undefined)"-->
<!--/>-->
