<div id="map"></div>
<scout-lens
  [phase]="scoutSearch.phase()"
  [activeLens]="scoutSearch.activeLens()"
  [ghostLens]="scoutSearch.ghostLens()"
  [userIndicator]="scoutSearch.userIndicator()"
  [zooming]="scoutSearch.isZooming()"
  [canDecreaseRadius]="scoutSearch.canDecreaseRadius()"
  [canIncreaseRadius]="scoutSearch.canIncreaseRadius()"
  (decreaseRadius)="scoutSearch.decreaseRadius()"
  (increaseRadius)="scoutSearch.increaseRadius()"
  (searchHere)="searchHere()"
  (retry)="retryLoadOccurrences()"
/>
@if (!isAnyModalOpen()) {
  <div class="map-controls">
    <app-button-container class="map-actions" direction="vertical">
      <button class="map-button log-button" (click)="openLogOccurrenceModal()">
        <app-icon name="plus" size="size-medium" />
      </button>
      <button class="map-button" (click)="centerToUserLocation()">
        <app-icon name="map-arrow" size="size-medium" />
      </button>
    </app-button-container>
  </div>
}
<occurrence-preview-modal
  [modalId]="modalId"
  [marker]="selectedMarker()"
  (handleClose)="selectedMarker.set(null)"
/>
<log-occurrence-modal
  [modalId]="logOccurrenceModalId"
  (handleClose)="(undefined)"
  (occurrenceLogged)="refreshOccurrencesAfterLog()"
/>
