@use "../../style/layout";

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.map-location-center {
  position: absolute;
  bottom: layout.$safe-area-inset;
  left: layout.$safe-area-inset;
  z-index: 99;
}
