@use "../../style/layout";
@use "../../style/breakpoint";

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.map-location-center {
  position: absolute;
  bottom: calc(#{layout.$safe-area-inset} + 5rem);
  right: layout.$safe-area-inset;
  z-index: 99;

  @media (min-width: breakpoint.$md) {
    bottom: layout.$safe-area-inset;
  }
}
