
$animated-transition-height: -10px;


.list-expanded {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.15s ease-in;
  transform-origin: top left;

  @starting-style {
    opacity: 0;
    transform: translateY($animated-transition-height) scale(0.65);
  }

  &--leaving {
    opacity: 0;
    transform: translateY($animated-transition-height) scale(0.65);
    transition: all 0.25s ease-out;
  }
}

.list-collapsed {
  transition: all 0.15s ease-in;
  transform-origin: bottom left;

  @starting-style {
    opacity: 0;
    transform: translateY($animated-transition-height) scale(0.65);
  }

  &--leaving {
    opacity: 0;
    transform: translateY($animated-transition-height) scale(0.65);
    transition: all 0.25s ease-out;
  }
}

.chevron {
  background-color: var(--color-background-overlay);
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  transition: transform 0.25s ease-in-out;
  border-radius: 10rem;
  padding: 0 0.3rem;

  &--open {
    transform: rotate(270deg);
  }
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--color-background-overlay);
  border-radius: 10rem;
  width: fit-content;

  &-remove-button {
    margin-left: auto;
    background-color: var(--color-background);
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
  }

  &-open-button {
    background-color: transparent;
    margin-left: auto;
  }

  button {
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10rem;
    padding: 0 0.5rem;
  }

  p {
    font-size: 0.85rem;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
}

.toggle-button {

  background-color: transparent;
  height: 30px;
  display: flex;

  width: fit-content;
  transition: all 0.25s ease-in-out;

  ul {
    display: flex;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
}


