@use "../../style/layout";

.map-trigger-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 10000;
}

.map-search-top {
  z-index: 10000;
  position: absolute;
  top: layout.$safe-area-inset;
  left: layout.$safe-area-inset;
  width: calc(100% - #{layout.$safe-area-inset} * 2);

  @media (min-width: 768px) {
    width:70%;
    max-width: 500px;
  }
}
