@use "../../style/layout";
@use "../../style/breakpoint";

.map-trigger-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 10000;
}

.map-search-bar {
  z-index: 1000;
  position: absolute;
  top: layout.$safe-area-inset;
  left: layout.$safe-area-inset;
  width: calc(100% - #{layout.$safe-area-inset} * 2);

  @media (min-width: breakpoint.$md) {
    width:70%;
    max-width: 500px;
  }
}

.map-search-selection-list {
  z-index: 999;
  position: absolute;
  top: layout.$safe-area-inset + 3.5rem;
  left: layout.$safe-area-inset;

  @media (min-width: breakpoint.$md) {
    top: layout.$safe-area-inset + 4.5rem;
  }
}
