<div>
  <app-map />
  <div class="map-trigger-row">
    <floating-button (click)="isSearchModalOpen.set(true)" title="Search">
      <app-icon name="search" size="size-large" />
    </floating-button>
  </div>
  <app-modal
    [isOpen]="isSearchModalOpen()"
    (handleClose)="isSearchModalOpen.set(false)"
  >
    <occurrence-search
      [occurrences]="result()"
      [isActive]="isSearchModalOpen()"
      (onResultSelection)="isSearchModalOpen.set(false)"
      (onSearch)="handleSearch($event)"
      [isLoading]="animalSearch.isLoading()"
    />
  </app-modal>
</div>
