@use "../../../style/color";
@use "../../../style/shadow";

.occurrence-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.occurrence-item {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: shadow.$sm;
  background: linear-gradient(
    180deg,
    var(--color-background-overlay) -100%,
    var(--color-background) 250%
  );

  .attributes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 0.5rem;
    align-items: center;
    width: 100%;
  }

  .attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    padding: 0.25rem;
    border-radius: 10rem;
    height: 2rem;
    font-size: 0.75rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 1.2rem;
  }

  &-visibility {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem;
    opacity: 0.7;
  }

  &-description {
    font-size: 0.925rem;
    opacity: 0.7;
    padding-bottom: 1rem;
  }

  &-observed-at {
    font-size: 0.75rem;
    opacity: 0.45;
    padding-bottom: 0.75rem;
  }

  .button-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: shadow.$sm;
    padding: 0.35rem 0.75rem;
    border-radius: 1.5rem;
    width: fit-content;
    text-decoration: none;
    font-size: 0.85rem;
  }
}
